.ant-carousel .slick-slide {
  text-align: center;
  height: 460px;
  line-height: 30px;
  background: white;
  overflow: hidden;
  border-radius: 25px;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

#my-div
{
    margin: 0 auto;
    width    : 150px;
    height   : 450px;
    overflow : hidden;
    position : relative;
}

#my-iframe
{
    position : relative;
    top      : -360px;
    left     : 0px;
    width    : 750px;
    height   : 1200px;
}